body {
  font-family: "Fredoka One", cursive;
  background-color: #eec170;
  color: #772f1a;
}

h1 {
  padding-top: 20px;
}

h2 {
  padding: 20px 0px;
  margin-bottom: 20px;
  font-size: 1.6em;
}

#p {
  line-height: 35px;
}

#cat-pen,
#cat-deetz {
  margin: 30px 0px;
  padding: 50px;
  background-color: rgb(255, 243, 221);
}

.drawn-border {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 8px #772f1a;
}

#cat-deetz {
  font-size: 0.7em;
  padding: 10px;
}

button {
  background-color: #f58549;
  color: 772f1a;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 4px #772f1a;
  margin: 10px 0;
}

input,
select {
  padding: 0px 10px;
  margin: 2px 0px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px #772f1a;
  font-size: 0.7em;
  color: #696969;
}
label {
  font-size: 0.7em;
  margin-bottom: 2px;
}

select {
  width: 192px;
}

.question {
  font-size: 0.9em;
}

.answer {
  padding-left: 15px;
  font-size: 1.2em;
}

.creator-div {
  margin-top: 50px;
}

.creator {
  font-size: 0.8em;
  color: 772f1a;
  margin-bottom: 0px;
}

.creator a {
  color: #772f1a;
  text-decoration: underline;
}

.creator a:hover {
  color: rgb(238, 92, 92);
}
